*.swp
.DS_Store
.Trashes
.bundle

.env
.rvmrc
.ruby-version
.ruby-gemset
.rbenv
.rbenv-version
.rbenv-vars

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/spec/tmp
spec/cassettes

# Ignore the default SQLite database and db dumps
/db/*.sqlite3
/dbs/*.sql
/dbs/*.sql.gz
/db/structure.sql

vvz.sublime-workspace