@mixin white-box() {
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  background: #FFF;
  border-radius: 4px;
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin unstyled-list() {
  padding: 0;
  margin: 0;
  list-style: none;
  & > li {
    margin: 0;
  }
}

@mixin inline-list() {
  @include unstyled-list;
  & > li {
    display: inline-block;
  }
}

@mixin container() {
  width: 990px;
  margin-right: auto;
  margin-left: auto;
  @include breakpoint(mobil) {
    width: auto;
  }
}

@mixin padding {
  padding: 0px 20px;
}
