#search {
	display: none;
	
	input {
		/*height: 25px;
				width: 250px;*/
		
	}
}

.popover {
	.inner {
		width: 250px;
		background-color: rgba(0, 0, 0, 0.2);
	}
	
	.arrow {
		display: none;
	}
	
	a {
		display: block;
		text-decoration: none;
		color: #555;
		border-bottom: 1px solid #e0e0e0;
		padding: 6px 14px;
		cursor: pointer;
	}
	
	a:hover, a.active {
		background: #0069D6;
		color: white;
	}
	
	.title {
		display: none;
	}
	
	mark {
		background: inherit;
		font-weight: bold;
		color: inherit;
	}
	.content {
		padding: 0;
	}
	
	.more {
		background: whiteSmoke;
		text-align: center;
		color: #777;
	}
}