@import "../breakpoints.css.scss";





#topbar {
  padding-top: 1.2em;
  padding-bottom: .8em;
}


#logo {
  margin: 0;
  margin-left: 10px;
  margin-right: 15px;
  display: inline-block;

  font-family: Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 30px;

  a {
    text-decoration: none;
    -webkit-transition: color 0.1s ease-in 0;
    -moz-transition: color 0.1s ease-in 0;
    transition: all 0.1s ease-in;
  }
  a:hover {
    color: lighten(#0069D6, 15%);
  }
}


#menue-btn {
  display: none;
  cursor: pointer;
  text-align: center;
  background: #fff;
  border: 2px solid #CCC;
  border-radius: 4px;
  font-weight: bold;
  color: #888;
  line-height: 2em;
  padding: 0 1em;
  float: right;
}

#menue-btn.active {
  background: #282A2D;
  color: white;
}

// #menue-btn .open-btn { display: inline-block; }
// #menue-btn .close-btn { display: none; }

// #menue-btn.active .open-btn { display: none; }
// #menue-btn.active .close-btn { display: inline-block; }


// #page-search {
//   display: inline-block;
//   //float: right;
//   line-height: 30px;
//   input {
//     padding: 8px 20px 8px 8px;
//     font-size: 12px;
//     //height: 12px;
//     box-sizing: border-box;
//     opacity: 0.7;
//     -webkit-transition: opacity 0.1s;
//     &:focus, &:hover { opacity: 1; }
//   }
// }



@include breakpoint(big) {
  #topbar {

    a {
      display: inline-block;
      position: relative;
    }

    nav {
      display: inline-block;
      font-size: 13px;
      padding-right: 8px;
      float: right;
      line-height: 30px;

      ul { margin: 0; }
      li {
        padding: 0;
        margin: 0;
        display: inline-block;
      }

      a {
        font-weight: bold;
        margin-left: 10px;
        padding: 0 5px;
        font-weight: bold;
        border: 0;
      }

      a:hover {
        background-color: inherit;
        text-decoration: underline;
      }

    }
  }

  #topbar nav .login {
    margin-left: 2em;
    border: 0;

    a:hover { color: #0069d6; }

    .user-name {
      display: inline-block;
      color: #333;
      &:hover { text-decoration: underline; }
    }

    #signout {
      margin-left: 0px;
      color: #333;
      margin-right: -8px;
    }

    #signout span {
      display: none;
      @include breakpoint(mobil) {
        display: inline;
      }
    }

    #signout:hover { color: lighten(#0069D6, 10%); }

  }
}




@include breakpoint(mobil) {

  #topbar nav {
    float: none;
    padding: 0;
    display: block;
  }

  #main-nav ul {
    display: none;
    margin-top: 5px;
  }
  #main-nav.active {
    position: relative;

    ul {
      display: block;
      position: absolute;
      z-index: 2000;
      width: 100%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    li:not(.no-link) a, li.no-link {
      background: #282A2D;
      color: #fff;
      border-top-color: #555;
      font-size: 1.2em;
      line-height: 1.7em;
      text-align: center;
    }

    li.no-link a {
      border: 0;
      padding: 0;
      display: inline;
      color: #fff;
    }

  }

  #main-nav .user-name { display: none !important; }

  #menue-btn { display: inline-block; }

}

