@import "../breakpoints.css.scss";


#topbar {
  padding-top: 1.2em;
  padding-bottom: .8em;

  a {
    display: inline-block;
    position: relative;
  }

  #logo {
    margin: 0;
    margin-left: 10px;
    margin-right: 15px;
    display: inline-block;

    font-family: 'Helvetica Neue', Helvetica;
    font-size: 23px;
    font-weight: bold;
    line-height: 30px;

    a {
      text-decoration: none;
      -webkit-transition: color 0.1s ease-in 0;
      -moz-transition: color 0.1s ease-in 0;
      transition: all 0.1s ease-in;
    }
    a:hover {
      color: lighten(#0069D6, 15%);
    }
  }

  #page-search {
    display: inline-block;
    //float: right;
    line-height: 30px;
    input {
      padding: 8px 20px 8px 8px;
      font-size: 12px;
      //height: 12px;
      box-sizing: border-box;
      opacity: 0.7;
      -webkit-transition: opacity 0.1s;
      &:focus, &:hover { opacity: 1; }
    }
  }
  nav {
    display: inline-block;
    //border-left: 2px solid #DADADA;
    font-size: 13px;
    padding-right: 8px;
    float: right;
    line-height: 30px;

    li {
      padding: 0;
      margin: 0;
    }

    a {
      font-weight: bold;
      margin-left: 10px;

      padding: 0 5px;
      // color: #888;
      font-weight: bold;

      &:hover {
        // text-decoration: none;
        //background: #0069D6;
        //color: #fff;
        // color: #333
      }
    }
    .me {
      display: inline-block;
    }
  }
}



#topbar nav .login {
  margin-left: 2em;

  a {
    padding: 0 6px;
  }

  a:hover, a:hover .arrow-down {
    color: #0069d6;
    //border-top-color: #0069D6;
    text-decoration: none;
  }

  .user-name {
    display: inline-block;
    color: #333;
    &:hover { text-decoration: underline; }
  }



  #signout {
    margin-left: 0px;
    color: #333;
    margin-right: -8px;
  }

  #signout span {
    display: none;
    @include breakpoint(mobil) {
      display: inline;
    }
  }

  #signout:hover {
    color: lighten(#0069D6, 10%);
  }

  .icon-caret-down {
    font-size: .9em;
    margin-left: 3px;
  }
  .dropdown { display: inline-block; }
  .open .dropdown-toggle { background: transparent; color: inherit;}

  .user-box {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 3px;
  }

  .seperator { color: #eee; margin: 0 0 0 3px;}


}


.topbar {
  background: #75B7CB;
  padding: 2px 0;
}

.twipsy-inner, .twipsy-inner { background: red !important; color: red !important;}






#crumbs {
  list-style: none; margin: 0;
  margin: 0 0 .5em 0;
  font-size: 10pt;

  li { display: inline;}
  li::after {
    content: ' › ';
  }

}





#menue-btn {
  display: none;
}
@media only screen and (max-width: 767px) {

  #topbar nav .login .user-name { display: none; }
  #topbar nav .login #signout,  #topbar nav .login #signout:hover { color: white; }
  #menue-btn {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    padding: 3px 13px;
    margin: -3px 0;
    margin-right: -8px;
    margin-left: 5px;
  }
  #main-nav {
    position: relative;
    z-index: 2000;
    .open-btn { display: inline-block; }
    .close-btn { display: none; }
    ul { margin-top: 3px; }
    *::selection {
      background: transparent; /* Safari */
    }
  }
  #main-nav ul {
    display: none;
  }
  #main-nav.active {
    #menue-btn, a {
      color: white;
    }
    #menue-btn {
      background: #282A2D; //#E03736; //#282A2D;
    }
    ul {
      display: block;
      position: absolute;
      right: 0;
      background: #282A2D;
    }
    li {
      display: block;
      border-bottom: 1px solid #444;//#E03736;
      margin: 0;
      &:last-child { border-bottom: 0; }
    }
    li a, #signout {
      padding: 10px 13px;
      display: block;
      font-size: 1.2em;
      margin-left: 0;
      line-height: 18pt;
      color: white;
      &:hover { text-decoration: none; }
    }

    .open-btn { display: none; }
    .close-btn { display: inline-block; }
  }
  @include breakpoint(mobil) {
    #main-nav .login[date-login='1'] {
      padding: 10px 13px;
    }
  }
}

#topbar #menue-search-btn {
  display: none;
}
@media only screen and (max-width: 767px) {
  #topbar #menue-search-btn {
    display: inline-block;
    text-decoration: none;
  }
}




