<h5>
  {{poi.name}}
  <i class="building-no">{{poi.building_no}}</i>
</h5>
<p>
  <span class="address">{{poi.address}}</span>
</p>
{{! <hr class="footer-hr"> }}
<footer>
  <span class="action"><a id="map-share-link-js" href="javascript:;">
    Karte teilen
  </a></span>
</footer>
