
#event-description-tab {
  .desc {
    margin-bottom: 1.5em;
    overflow: hidden;
    max-width: 600px;
  }
  h4 {
    font-weight: normal;
    color: #F14E32;
  }
  .desc:first-child h4 { margin-top: 0; }

  .desc p { margin: 0; }
  .desc strong { margin: 1em 0 .5em 0; position: relative; display: block; }
}
