#event_page > header {

  h1 {
    margin-right: 1em;
    float: left;
    max-width: 240px;
    @include ellipsis;
  }

  h1, .event-header-nav a {
    line-height: 40px;
  }

  .event-header-nav {
    line-height: 34px;
    @include inline-list;
  }



  .nav-item a {
    padding: 0px 1em;
    display: inline-block;
    border-right: 1px solid #eee;
    @include breakpoint(mobil) {
      line-height: 1em;
      border: 0;
      padding: 0;
      margin-right: .5em;
    }
  }
  .nav-item:first-child a { border-left: 1px solid #eee; }

  nav.main { float: left; }
  nav.controlls {
    float: right;
    li:last-child a { border-right: 0; }
  }

  .unsubscribe:hover { color: red; }

  @include breakpoint(mobil) {
    padding-bottom: 5px;
    h1, nav.main, nav.controlls {
      float: none;
    }
    nav.main ul, nav.controlls ul {
      li, li:first-child {
        display: block;
        a {
          display: block;
          padding: 0;
          font-size: 15px;
          line-height: 2.5em;
          border: 0;
          margin: 0;
          border-top: 1px solid #eee;
        }
      }
    }
  }
}
