@import "breakpoints.css.scss";

$bg_color: #E3E3E2;
$bg_color: #DDDDD1;
$blue: #0069D6;

html, body {
  font-family: Arial, sans-serif;
  background: #F8F4E6 url(bg_noise.png) 0 0 repeat;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

a, a:hover, a.btn-link, a.btn-link:hover {
  color: $blue;
}

.fr { float: right; }
.fl { float: left; }

hr.clear {
  clear: both;
  border: 0;
  height: 0;
  margin: 0;
}

.hide, .seo-hide { display: none; }

#site-waring {
  margin: 0;
  text-align: center;
  display: none;
  border-radius: 0;
  .actions { white-space: nowrap; }
}

.custom-btns .btn {
  background-image: none;
  box-shadow: none;
  border-color: #ccc;
  padding: 3px 12px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  text-shadow: none;
  border-radius: 2px;
  padding: 0 8px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #d9d9d9;

  &.btn-primary {
    border: 1px solid transparent;
    border-radius: 2px;
  }
}

.custom-btns .btn-link {
  border-color: rgba(0, 0, 0, 0);
}

aside h5 {
  margin: 0 0 8px 0;
}


p.vorschlaege {
    text-align: center;
    margin: 0;
  }

.notification {
  /*color: #468847;
    background: #DFF0D8 !important;
    border-color: #D6E9C6 !important;*/
  background: rgba(0, 100, 0, 0.7) !important;
  color: white !important;
  border: 0 !important;
  border-radius: 5px;
}



.tooltip-inner {
  white-space: nowrap;
}
.typeahead a {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  b {
    margin-bottom: -2px;
  }
  .type {
    color: #999;
    //text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  }
}
.typeahead .active .type {
  color: rgba(255, 255, 255, .7);
}

.vcard img {
  padding: 5px;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 150px;
  height: 150px;
  border: 1px solid #DDD;
}

.pull-right img {
  margin: 0 0 10px 10px;
}
.mobile .vcard img {
  height: 100px;
  width: 100px;
}

.mobile #big-search {
  width: 60%;
}

.tooltip { z-index: 50000; }

form span.error {
  color: #b94a48;
}

form .field_with_errors {
  margin-bottom: 1.5em;

  label {
    color: #b94a48;
  }

  span.error {
    font-size: 0.8em;
  }
}


.tooltip-inner {
  padding: 3px 8px;
}

.dropdown-btn ul {
  max-height: 400px;
  overflow-y: auto;
}

.icon-box {
  display: table;
  i, .content {
    display: table-cell;
  }
}
.col-box {
  display: table;
  width: 100%;
  & > .col {
    display: table-cell;
    vertical-align: top;
  }
}

*[aria-role="button"] {
  cursor: pointer;
}


