
$bg_color: #E3E3E2;
$bg_color: #CFCFCF;
$bg_color: #fff;
$blue: #0069D6;

body {
  //font-family: 'Droid Sans', arial, sans-serif;
  //font-family: 'Muli', arial, sans-serif;
  
  font-family: Arial, sans-serif;
  font-size: 15px;

  background: $bg_color url("../assets/tile_light.png");
  /*background: #CFCFCF;*/
}

a, a:hover {
  color: $blue;
}



h1, h2 {
  font-family: 'Open Sans', Arial, sans-serif;
}

h2 {
  margin: 0 0 1em 0;
}