@import "mixins/layout";
@import "breakpoints";

#event_page {

  .white-box {
    padding: 20px;
  }

  h2 {
    margin: 0;
    line-height: 1em;
    margin-bottom: 1em;
  }

  .repeated-date {
    .day, .room, .time {
      display: inline-block;
    }
    .day {
      width: 100px;
    }
    .time {
      width: 160px;
    }
  }

  .dates {
    h3 {
      font-size: 12pt;
    }
    word-break: break-word;
    .repeated-dates-list {
      padding: 0;
      margin: 0;
      margin-top: 1em;
    }
    .repeated-dates-list li {
      padding: 3px;
      background: #eee;
      margin: 0 .5em .5em 0;
      display: inline-block;
      &.past { color: #777; }
    }

    .past_dates li {
      background: #ccc;
      color: #555
    }

    .seperator:before {
      content: "|";
      margin: 0 10px;
      color: #ccc;
    }

  }

  .next-date {
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }

  .desc {
    margin-bottom: 2.5em;
  }
  h4 {
    // font-weight: normal;
    color: #F14E32;
  }
  .desc:first-child h4 { margin-top: 0; }
  .desc p { margin: 0; }

}

.sidebar-box {
  border-radius: 4px;
  display: block;
  padding: 6px 10px;
  background: #EEE;
  font-size: .9em;
}

.markdown {
  word-wrap: break-word;
}

.event-wiki-text .markdown {

  b.head {
    margin: .5em 0 1em 0;
    position: relative;
    display: block;
  }
  p { margin: 0 0 .6em 0; }
  p:last-child { margin-bottom: 0; }
}

.next-dates-list {
  width: 100%;
  .date {
    padding: 4px 0;
    border-bottom: 1px solid #EEE;
    &:last-child { border-bottom: 0; }
  }
}

.md-form {
  overflow: hidden;
  .nav-tabs {
    margin-bottom: .5em;
  }
  .actions {
    margin-top: 1em;
  }

  textarea.md-input {
    box-sizing:border-box;
    width: 100%;
    margin-bottom: .5em;
  }
  .md-preview.well {
    min-height: 200px;
    background: #f0f0f0;
    padding: 10px 5px;
    box-sizing:border-box;
  }

}

@import "events/header";
@import "events/sidebar";
