// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container { width: 940px;}
#stundenplan {
  $all_w: 940px;
  $first_w: 20px;
  $width: ( $all_w - $first_w )/7;
  $row-height: 20px;
  $quart: $row-height / 4;

  th { text-align: center; }

  position: relative;
  width: $all_w;

  td:nth-child(1) { width: $first_w; }
  td:nth-child(2n) { background: #ccc; }
  tr:hover td:nth-child(2n) { background: #e6e6e6; }
  td {
    width: $width;
    height: $row-height;
    font-size: 0.1;
    padding: 0;
    border: 0;
    overflow: hidden;
  }

  tr {
    height: $row-height;
    padding: 0;
    border: 0;
    postion: relative;
  }

  .event {
    position: absolute;
    background: white;
    width: $width;
    top: $row-height*1;
    font-size: 0.8em;
  }

  @for $i from 1 through 7 {
    .d#{$i} { left: $first_w + $width*($i) - 1; }
  }

  @for $i from 0 through 52 {
    .s#{$i} { top: $row-height + $quart*($i); }
  }


  @for $i from 0 through 52 {
    .l#{$i} { height: $quart*$i; }
  }
}


.termine {
  position: relative;
  margin-bottom: 30px;
}
.termin {
  margin-top: 5px;
  margin-right: 10px;
  font-size: 1.2em;
  display: inline-block;
  background: white;
  padding: 10px;
  line-height: 1.3em;
}


#minitable {
  .first {
    width: 20px;
  }
  th, td {
    padding: 2px;
    height: 5px;
  }
}

#minitable2 {
  table {
    border-collapse:separate;
    border-spacing:2px;
    width: 100%;

    td {
      background: white;
      padding: 5px;
      border: 0;
    }
  }

  td { padding: 0; }
}

.subscribe-btn {
  &.subscribe {

  }
}

#event_page {
  h1 {
    margin-bottom: 3px;
    max-width: 700px;
    //float: left;
  }
  .subscribe-btn {
    float: right;
  }
  .lecturer {
    color: #777;
    margin-bottom: 30px;
  }
  .description {
    margin-bottom: 30px;
  }
  a.collapse-btn {
    margin-bottom: 5px;
    display: inline-block;
  }
  .sub-title {
    margin-bottom: 1em;
  }

  .repeated-date {
    .day, .room, .time {
      display: inline-block;
    }
    .day {
      width: 100px;
    }
    .time {
      width: 160px;
    }
  }



  .dates {
    h3 {
      font-size: 12pt;
    }
    word-break: break-word;
    .repeated-dates-list {
      padding: 0;
      margin: 0;
      margin-top: 1em;
    }
    .repeated-dates-list li {
      padding: 3px;
      background: #eee;
      margin: 0 .5em .5em 0;
      display: inline-block;
      &.past { color: #777; }
    }

    .past_dates li {
      background: #ccc;
      color: #555
    }
/*    li {
      border-radius: 4px;
      position: relative;
      display: block;
      padding: 6px 10px;
      border: 1px solid #EEE;
      background: #EEE;
      margin-bottom: 0.5em;
    }*/

    .seperator:before {
      content: "|";
      margin: 0 10px;
      color: #ccc;
    }

  }

  .next-date {
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }

  h4 {
    font-weight: normal;
    color: #F14E32;
  }
  .desc:first-child h4 { margin-top: 0; }

  .desc p { margin: 0; }
  .desc strong { margin: 1em 0 .5em 0; position: relative; display: block; }
}

#event-description-tab {
  .desc {
    margin-bottom: 1.5em;
    overflow: hidden;
    max-width: 600px;
  }
}

.sidebar-box {
  border-radius: 4px;
  display: block;
  padding: 6px 10px;
  background: #EEE;
  font-size: .9em;
}

.event-wiki-text .markdown {

  b.head {
    margin: .5em 0 1em 0;
    position: relative;
    display: block;
  }
  p { margin: 0 0 .6em 0; }
}

.top-date-row {
  display: table;
  width: 100%;
  .room, .time, .date {
    display: table-cell;
  }
  .room {
    text-align: center;
  }
  .date {
    text-align: right;
  }
}

.next-dates-list {
  li {
    margin-bottom: .5em;
  }
}
