@import "mixins/layout.scss";

#event_page {

  .white-box {
    padding: 20px;
  }

  h2 {
    margin: 0;
    line-height: 1em;
    margin-bottom: 1em;
  }

  .repeated-date {
    .day, .room, .time {
      display: inline-block;
    }
    .day {
      width: 100px;
    }
    .time {
      width: 160px;
    }
  }

  .dates {
    h3 {
      font-size: 12pt;
    }
    word-break: break-word;
    .repeated-dates-list {
      padding: 0;
      margin: 0;
      margin-top: 1em;
    }
    .repeated-dates-list li {
      padding: 3px;
      background: #eee;
      margin: 0 .5em .5em 0;
      display: inline-block;
      &.past { color: #777; }
    }

    .past_dates li {
      background: #ccc;
      color: #555
    }

    .seperator:before {
      content: "|";
      margin: 0 10px;
      color: #ccc;
    }

  }

  .next-date {
    em {
      font-style: normal;
      text-decoration: underline;
    }
  }


}




.sidebar-box {
  border-radius: 4px;
  display: block;
  padding: 6px 10px;
  background: #EEE;
  font-size: .9em;
}

.event-wiki-text .markdown {

  b.head {
    margin: .5em 0 1em 0;
    position: relative;
    display: block;
  }
  p { margin: 0 0 .6em 0; }
  p:last-child { margin-bottom: 0; }
}

.top-date-row {
  display: table;
  width: 100%;
  .room, .time, .date {
    display: table-cell;
  }
  .time {
    text-align: center;
  }
  .room {
    text-align: right;
  }
}

.next-dates-list {
  li {
    margin-bottom: .5em;
  }
}

.md-form {
  overflow: hidden;
  .nav-tabs {
    margin-bottom: .5em;
  }
  .actions {
    margin-top: 1em;
  }

  textarea.md-input {
    box-sizing:border-box;
    width: 100%;
    margin-bottom: .5em;
  }
  .md-preview.well {
    min-height: 200px;
    background: #f0f0f0;
    padding: 10px 5px;
    box-sizing:border-box;
  }

}

@import "events/header.css.scss";
@import "events/sidebar.css.scss";
@import "events/description.css.scss";
