// Place all the styles related to the exam_dates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#exam-dates-table {
  .main { width: 99%; }
  td { white-space: nowrap; }
  .actions a { text-decoration: none; }
}