@import "breakpoints.css.scss";

.landing-header {
  width: 990px;
  margin-right: auto;
  margin-left: auto;

  padding: 60px 20px;
  margin-bottom: 1em;

  text-align: center;
  background: #08C;
  border-radius: 4px;

  box-sizing: border-box;

  h1 {
    font-size: 20pt;
    color: #FFF;
    line-height: 1.5em;
  }
  p {
    color: #707070;
    font-size: 12pt;
    color: #FFF;
    margin: 0 auto;
    max-width: inherit;
    // max-width: 450px;
  }
  .kit-logo {
    background: #FFF;
    padding: 0 5px;
    border-radius: 15px;
    display: inline;
    img {
      height: 1em;
      margin-top: -5px;

      font-size: .7em;
    }
  }
  @include breakpoint(mobil) {
    width: auto;
  }
}
.feature {
  text-align: center;
  padding: 0 10px;
  cursor: pointer;

  .content {
    // height: 100px;
    margin-bottom: 1em;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #444;
    line-height: 1.2em;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #0069D6;
    line-height: 18px;
    margin-bottom: .5em;
  }
  &:hover { text-decoration: none;}
  img {
    border-radius: 13px;
    border: 1px solid #CCC;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    height: 104px;
  }

  .feature-link {
    border: 2px solid #CCC;
    display: inline-block;
    border-radius: 4px;
    // color: #555;
    padding: 2px 8px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.2s ease;
    color: #888;
  }
  &:hover .feature-link {
    background-color: #e4e4e4;
    color: #0069D6;
  }
  // .smartphone { color: deeppink; }
  // .computer { color: cadetblue; }
  .smartphone, .computer { color: #34977F; }

  @include breakpoint(mobil) {
    width: auto !important;
    margin-bottom: 2em;
    border-bottom: 2px solid #EEE;
    padding: 0;
    padding-bottom: 2em;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    img {
      height: auto;
    }
  }
}
