@import "breakpoints.css.scss";

.landing-header {
  width: 990px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 1em;

  text-align: center;
  background: #08C;
  border-radius: 4px;

  box-sizing: border-box;

  h1 {
    font-size: 20pt;
    color: #FFF;
    line-height: 4em;
  }

  @include breakpoint(mobil) {
    width: auto;
  }
}
.feature.span4 {
  text-align: center;
  padding: 1em;
  cursor: pointer;

  .content {
    // height: 100px;
    margin-bottom: 1em;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #444;
    line-height: 1.2em;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    color: #0069D6;
    line-height: 18px;
    margin-bottom: .5em;
  }
  &:hover { text-decoration: none;}
  img {
    // border-radius: 13px;
    // border: 1px solid #CCC;
    // width: 100%;
    // box-sizing: border-box;
    // margin-bottom: 1em;
    // height: 104px;
    display: none;
  }

  // .smartphone { color: deeppink; }
  // .computer { color: cadetblue; }
  .smartphone, .computer { color: #34977F; }

  @include breakpoint(mobil) {
    // width: auto !important;
    width: 100% !important;
    margin: 0;
    margin-bottom: 2em;
    border-bottom: 2px solid #EEE;
    padding: 0;
    padding-bottom: 2em;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    img {
      height: auto;
    }
  }

  &:hover .feature-link {
    background-color: #e4e4e4;
    color: #0069D6;
  }
}

.feature-link {
  border: 2px solid #CCC;
  display: inline-block;
  border-radius: 4px;
  // color: #555;
  padding: 2px 8px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.2s ease;
  color: #888;
}



#img-banner {
  position: relative;
  margin-bottom: 1em;
  margin-top: -20px;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  // background-color: #574F32;
  background-image: url(image-path('landing-phone_mini.jpg'));
  background-size: cover;
  height: 363px;

  @include breakpoint(mobil) {
    margin-bottom: 2em;
  }

  img {
    width: 100%;
    z-index: 40;
  }

  .content {
    position: absolute;
    z-index: 50;
    padding: 0 50px;
    top: 80px;
    line-height: 49px;
    max-width: 480px;

    @include breakpoint(mobil) {
      display: none;
    }
  }
  h1 {
    color: #fff;
    font-size: 32px;
    line-height: 49px;
    small {
      display: block;
      font-size: .65em;
      color: #fff;
    }
  }

  .feature-link {
    line-height: 2em;
    color: #fff;
  }

  .feature-link:hover {
    background-color: #e4e4e4;
    color: #000;
    text-decoration: none;
  }
}
