@import "mixins/layout";
@import "breakpoints";

.search-form {
  @include container;
  margin-bottom: 0;
  position: relative;

  #big-search {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    height: 50px;
  }

  .submit-btn {
    background-color: blue;
    height: 50px;
    border: 0;
    border-radius: 4px;
    background-color: #5DABF5;
    color: white;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    line-height: 50px;
    width: 65px;
    text-align: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #CCC;
    border-left: 0;
    &:hover { background-color: #509BE2; }
  }
}


#search_page {

  .title-link {
    font-size: 1.4em;
    line-height: 1.4em;
    // text-decoration: underline;
  }

  // .big-icon {
  //   margin-right: .4em;
  //   color: #666;
  // }

  .results {
    // margin-top: 30px;
  }

  .result {
    margin-bottom: 1.7em;

    .description {
      font-size: 1.1em;
      line-height: normal;
    }

    .info {
      color: #6F7B80;
      font-size: .9em;
    }

    .seperator {
      color: #ccc;
      &:before {
        content: " | "
      }
    }

  }

  .term-selector { margin: 0; }

  .result.directory {
    font-size: 1em;
    margin-bottom: 1em;

    i {
      margin-left: 5px;
      color: #bbb;
    }
  }

  .pagination {
    margin-top: 30px;

    a {
      padding: 4px 12px;
      line-height: 20px;
      font-size: 14px;
    }
  }

  #big-search {
    width: 500px;
  }

}


#map-page .search-input {
  font-size: 11pt;
}
#map-page {
  .poi-building_no {
    color: #999;
    font-size: 0.9em;
    float: right;
    //font-style: italic;
    font-family: serif;
    margin-left: 3px;
  }
}

#vvz_search .add-on {
  background-color: white;
}

.search-input {
  position: relative;

  .typeahead, .tt-hint {
    padding-left: 27px;
  }
  .tt-suggestion {
    min-width: 199px;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f002";
    left: 8px;
    position: absolute;
    top: 5px;
    color: #bbb;
    z-index: 50;
  }

}
