#search_page {

  .results {
    margin-top: 30px;
  }

  .result {
    margin-bottom: 2em;
    font-size: 11pt;

    .description {
      font-size: 0.9em;
    }

    .seperator {
      color: #ccc;
      &:before {
        content: " | "
      }
    }

  }

  .result.directory {
    font-size: 1em;
    margin-bottom: 1em;

    i {
      margin-left: 5px;
      color: #bbb;
    }
  }

  .pagination {
    margin-top: 30px;

    a {
      padding: 4px 12px;
      line-height: 20px;
      font-size: 14px;
    }
  }

  #big-search {
    width: 500px;
  }

}


#map-page .search-input {
  font-size: 11pt;
}
#map-page {
  .poi-building_no {
    color: #999;
    font-size: 0.9em;
    float: right;
    //font-style: italic;
    font-family: serif;
    margin-left: 3px;
  }
}

#vvz_search .add-on {
  background-color: white;
}

.search-input {
  position: relative;

  .typeahead, .tt-hint {
    padding-left: 27px;
  }
  .tt-suggestion {
    min-width: 199px;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f002";
    left: 8px;
    position: absolute;
    top: 5px;
    color: #bbb;
    z-index: 50;
  }

}
