@import "breakpoints.css.scss";

.timetable {

  .event {
    position: relative;
    background: red;
    border: 1px solid #000;
  }

  .name {
    display: inline-block;
    width: 250px;
  }


  // @for $j from 1 through 40 {
  //   .start#{$j*15} { margin-left: $width * $j; }
  // }



}

#calendar .wc-cal-event {
  overflow: visible;
}

.tt-title {
    word-wrap: break-word;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding: 2px 5px;
    &:hover {
      background: #68A1E5;
      white-space: nowrap;
      padding: 2px 5px;
      display: inline-block;
    }
}
// .tt-title:hover:after {
//   content: attr(title);
//   padding: 4px 8px;
//   color: #333;
//   position: absolute;
//   left: 0;
//   top: 0;
//   white-space: nowrap;
//   z-index: 20px;
//   -moz-border-radius: 2px;
//   -webkit-border-radius: 2px;
//   border-radius: 2px;
//   background: #fff;
//   // -moz-box-shadow: 0px 0px 4px #222;
//   // -webkit-box-shadow: 0px 0px 4px #222;
//   // box-shadow: 0px 0px 4px #222;
//   // background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
//   // background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
//   // background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
//   // background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
//   // background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
//   // background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
// }

.tt-room {
  margin-top: .5em;
  display: block;
}

#timetable-page {

  #ical_url {
    @include breakpoint(mobil) {
      width: 90%;
    }
  }
}

.wc-header {
  table-layout: fixed;
}

.wc-time-header-cell {
  font-size: 12px;
}

.wc-container {
  min-width: 650px;
}

.wc-cal-event .wc-time {
  font-size: 10px !important;
}
.wc-cal-event .wc-title {
  font-size: 12px !important;
  padding-top: 15px;
}

#calendar {
  position: relative;
  height: 500px;
  overflow: auto;
  width: 100%;
}

#calender-timetable-page {
  .calendar td { height: 100px; width: 14.28%; }

  .next-month, .previous-month {
    display: inline-block;
    padding: 0px 10px;
  }

  .event {
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid #eee;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
  }
}

$minute: 1px;

.timetable {
  table-layout: fixed;
  width: 100%;

  td {
    vertical-align: top;
    position: relative;
  }
  th {
    font-weight: normal;
  }
  .time-col {
    width: 20px;
    border-right: 5px solid transparent;
  }
  .empty.time-col {
    background: none;
    border-right: 5px solid transparent;
  }

  tbody {
    border: 1px solid #E2E2E2;
    border-right: 0;
    border-left: 0;
    background: #F9F9F9;
  }


  .min-15 {
    height: $minute*15;
  }
  .min-60 {
    height: $minute*60;
  }
  .min-90 {
    height: $minute*90;
  }
  .pause {
    background: #FFA3A3;
  }


  .time {
    position: relative;
    padding-right: 6px;
    background: #FB484D;
    color: #fff;
    text-align: right;
  }
  .time .start,  .time .end{
    position: absolute;
    right: 6px;
    font-size: 12px;
  }
  .time .end {
    bottom: 0px;
  }
  .time .start {
    top: 2px;
  }


  .date {
    position: absolute;
    background: #0081C2;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 2px;
    word-break: break-word;
  }
}


