// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_event_list, #user-event-list {
   font-size: 12pt;
   color: #333;
   margin-bottom: 1em;

   .list {
      list-style: none;
      margin: 0;
   }

   .item {
      border-bottom: 1px solid #eee;
      &:last-child { border-bottom: 0; }
      display: table;
   }

   .title, .icon, .actions {
      display: table-cell;
   }

   .title {
      padding: 10px 10px;
      padding-left: 0;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 530px;
   }
   .item:hover .title { text-decoration: underline; }

   .icon {
      text-decoration: none;
      color: #F14E32;
      padding-right: 8px;
      font-size: .9em;
   }

   .actions {
      display: table-cell;
      visibility: hidden;
      a.dropdown-toggle {
         text-decoration: none;
         color: #ddd;
         &:hover { color: #c2c2c2; }
      }
      .dropdown-menu {
         top: 80%;
         width: 140px;
         left: 100%;
         margin-left: -140px;
         font-size: .8em;
         min-width: 140px;
      }
   }

   .item:hover .actions, .dropdown.open {
      visibility: visible;
   }
   .dropdown.open a.dropdown-toggle { color: #c2c2c2; }


}

.clear { clear: both; }
.empty {
   background: whiteSmoke;
   margin: 0;
   padding: 10px;
}

.ical_url {

   background: #eee;
   padding: 10px;
   margin: 0 -30px 0 -20px;
   text-align: center;

   label {
      display: inline-block;
      margin-right: 10px;
   }

   input {
      text-align: center;
      padding: 8px;
      color: #1E347B;
      font-size: 15px;
      border: 1px solid #E1E1E8;
      margin: 0;
      margin-right: 10px;
   }

}

aside.side {
   float: right;
   padding: 10px;
}

p {
   max-width: 700px
}

#signup {
   width: 350px;
   margin: 5em auto;

   input[type=text], select {
      width: 100%;
   }
   input[type=text] {
      padding: 5px 10px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      height: 100%;
   }
   .actions {
      margin-top: 1.5em;
   }
}

